@import url(/styles/style.css);

.container-cadastro{
    margin: 0 0.3em;
}
.formualario-cadastro select {
    display: block;
}

.container-radio{
    margin: 0.5em 0 0.7em 0;
}

.container-rotulo{
    margin-bottom: 0.3em;
}

.container-rotulo{
    display: flex;
    gap:0.2em
}

.radio-rotulo{
    margin-bottom: 0.5em;
}

.radio{
    margin:0;
}

.formulario-cadastro-entrada{
    display: block;
    border: 1px solid black;
    border-radius: 9px;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}