@import url(/styles/reset.css);
@import url(/styles/login.css);
@import url(/styles/cadastro.css);


.conteudo-principal{
    height: 90vh;
}

.menu{
    display: fixed;
}
.menu-lista {
    display: flex;
    justify-content: center;
    gap: 16px;
}