@import url(reset.css);
@import url(cadastro.css);

:root{
    --cor1:#CC3733;
    --cor2: #E76C6A;
    --cor3: #FD9B98;
    --cor4: #FFC7C5;
    --cor5: white;
}

body{
    background-color:var(--cor5);
    font-size: 1em;
}

.container-login {
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
}

label{
    display: block;
    margin-bottom: 0.8em;
}

.entrada-login{
    border: 1px solid black;
    border-radius: 9px;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;

}

.botao{
    background-color: var(--cor1);
    border: none;
    border-radius: 9px;
    color: var(--cor5);
    width:98px;
    padding: 0.5em;
    margin-bottom: 1em;
    cursor: pointer;
}

.texto-login{
    margin-bottom: 0.5em;
}

.texto-login-link{
    color: var(--cor1);
    font-weight: 600;
    cursor:pointer;
    text-decoration: none;
}

header {
    padding: 1em 0 1em 0;
    margin: 0 1.3em 0 1.3em;
    display: flex;
}


.localização-atual{
    width: 100%;
    text-align: center;
}

.conteudo-principal{
    height: 5000px;
    margin: 0 1.3em 0 1.3em;
}

h2 {
    margin: 1.5em 0 1.5em 0;
}

.container-doador{
    display: flex;  
    gap:12px;
    align-items: center;
}

.imagem-doador{
    width: 56px;
    height: 56px;
    border-radius: 30px;
}

.nome-doador{
    margin-bottom: 6px;
    font-size: 14px;
}

.localização-doador{
    font-size: 12px;
}

.menu{
    background-color: var(--cor5);
    position: fixed;
    width: 100%;
    bottom: 0;
    border: black solid 1px;
}
.menu-lista{
    display: flex;
    justify-content:space-between;
    padding: 1em 1.4em 1em 1.4em;
}

.menu-lista-itens{
    text-align: center;
}

.menu-icones {
    width: 2em;
    height: 2em;
    margin-bottom: 2px;
}
